.artifact_builds {
    background: var(--gray-alpha-100);
    padding: 1em;
    border-radius: 8px;
    width: 400px;
}

.top_row {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.character_ions {
    display: flex;
    align-items: center;
}

.artifact_builds h3 {
    margin-top: 12px;
}

.main_stats > div {
    display: flex;
    align-items: center;
}

.main_stats > div > img {
    margin-right: 6px;
}
