.character_filter {
    width: fit-content;
}

.top_row {
    width: 100%;
    display: flex;
    margin-bottom: 8px;
}

.character_filter_search {
    flex-grow: 1;
    font-size: 1.5em;
}

.character_filter_icons {
    height: 230px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    display: grid;
    grid-template-columns: repeat(6, 64px);
    align-content: start;
    gap: 4px;
}

.character_filter_icons>* {
    scroll-snap-align: start;
}
